body {
  background-color: pink
}

/* #postcardimg {
  width: 65%;
  position: absolute;
  z-index: -1;
} */

.postcarddiv {
  background-image: url('./PostCard.jpg');
  background-repeat: no-repeat;
  width: auto;
  height: auto;
}

.postcardform {
  position: relative;
  padding-top: 150px;
  padding-bottom: 100px;
  display: flex;
  width: 570px;
}

.postcardform textarea{
  width: 200px;
  height: 200px;
  margin-left: 25px;
}
#rightsideform {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  min-height: 200px;
}

#rightsideform input:first-child {
  margin-top: 27px;
  margin-bottom: 7px;
}

#rightsideform input {
  width: 80%;
  flex-grow: 1;
  justify-content: center;
  max-height: 35px;
}

#street {
  margin-bottom: 8px;
}
